# runOCUDUunittest results.
/testvectorOutputs
# Conformance tests CSV results.
/unitTests/conformanceResults
# MATLAB automatic save files.
*.asv
# MEX libraries.
*.mexa64
# clang-tidy and clang-format inherited from OCUDU
/ocuduVectorTests/.clang-format
/ocuduVectorTests/.clang-tidy
