# SPDX-FileCopyrightText: Copyright (C) 2021-2026 Software Radio Systems Limited
# SPDX-License-Identifier: BSD-3-Clause-Open-MPI

# runOCUDUunittest results.
/testvectorOutputs
# Conformance tests CSV results.
/unitTests/conformanceResults
# MATLAB automatic save files.
*.asv
# MEX libraries.
*.mexa64
# clang-tidy and clang-format inherited from OCUDU
/ocuduVectorTests/.clang-format
/ocuduVectorTests/.clang-tidy
# OCUDU binary test vectors.
/ocuduVectorTests/**/*.tar.gz
